
$color-header: #3D3D33;
$color-button: #55AB41;
$transparence-fiche: rgba(61, 61, 51, 0.8);
$trasparence-back: rgba(255, 255, 255, 0.2);
$green-shadow: #5c775b;
$white: rgb(250, 250, 250);
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;