@import "Variables";
@import "Reset";
@import url("https://fonts.googleapis.com/css2? family= Pattaya & display=swap");

/****************Header*****/
.header {
    display: flex;

    width: 100%;
    justify-content: center;
}

/******background****/
* {
    // font-family: "Pattaya";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
}

body {
    background-color: $color-header;
    width: 100%;
    color: $color-header;
    text-shadow: 0.1rem 0.1rem 0.1rem $white;
}
.App-container {
    margin: 2rem;
}
/************avis de passage*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5rem solid $color-button;
    background: linear-gradient(to top, transparent, 70%, $color-header),
        url("../clean3000-starter/pexels-julia-volk-5769308\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius: 3rem;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem $green-shadow;
    ul {
        list-style: none;
        padding-top: 5rem;
        border: 0.1rem solid $color-button;
        background-color: $trasparence-back;
        border-radius: 3rem;
        margin: 2rem;
        box-shadow: 0.5rem 0.5rem 0.5rem $green-shadow;
    }
    @media screen and (max-width: $xs-breakpoint) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ::placeholder {
        color: rgb(233, 230, 230);
    }
}

h1 {
    color: $white;
    text-shadow: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 5rem;
    border: 0.1rem solid $color-button;
    border-radius: 3rem;
    margin: 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem $green-shadow;
    background-color: $trasparence-back;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    @media screen and (max-width: $xs-breakpoint) {
        display: flex;

        flex-wrap: nowrap;
        width: 100%;
    }
}

.inputName {
    margin: 3rem;
}

.inputDate {
    margin: 3rem;
}

.inputTech {
    margin: 3rem;
}

.inputTech {
    margin: 3rem;
}

.thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    text-shadow: none;
    @media screen and (max-width: $xs-breakpoint) {
        h2 {
            display: flex;
            justify-content: center;
            align-items: space-evenly;
        }
    }
}

.inputObs {
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

// .btn {
//     display: flex;
//     justify-content: center;
//     width: 100%;
// }

.link {
   display: flex;
   justify-content: center;
    background-color: $color-button;
    h3 {
        text-decoration-line: none;
      
    }
}

button {
  
    display: flex;
    justify-content: center;
   
    //align-items: center;
    border-radius: 1rem;
    color: $white;
    width: 80%;
    height: 5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem $green-shadow;
    font-size:xx-large;
}
// .link :hover{
//     background-color: #010201;

// }
/*************recap*/
.smallcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    border: 0.5rem solid $color-button;
    background: linear-gradient(to top, transparent, 70%, $color-header),
        url("../clean3000-starter/pexels-julia-volk-5769308\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    border-radius: 3rem;
    .sC {
        margin-top: 10rem;
        text-decoration: none;
        color: $white;
    }

    h1 {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.fiche {
    color: $white;
    border: 1px solid $color-button;
    background-color: $transparence-fiche;
    border-radius: 1rem;
    padding: 1rem;
    list-style: none;
    text-shadow: none;
}
.btnR {
    width: 100%;
    button {
        background-color: $color-button;
        display: flex;
        justify-content: center;
       // align-items: center;
        border-radius: 1rem;
        color: $white;
        width: 80%;
        height: 5rem;
        box-shadow: 0.1rem 0.1rem 0.1rem $green-shadow;
    }
}
/************404*/
.error {
    color: $white;
}
